body{
	 background:url(http://localhost/Winamp/img/rektor.png);
	 background-size: auto;
	 background-repeat: no-repeat;
}

h1{
	font-family: dosis;
	font-weight: 900;

}

#daftar{
	padding: 20px;
	box-shadow: 0 0 5px 2px #EFEFEF;
	background: #fff;
}
#content{
	padding: 40px 0px;
}

.foto{
	min-height: 4cm;
	min-width: 3cm;
	max-width: 3cm;
	max-height: 40px;
	border: 1px solid #333;
	margin: 0 auto;
}

#print-data{
	padding:40px 0px;
	background: #fff;
}